<h4 [ngClass]="{online: serverStatus === 'Online'}"
    [ngStyle]="{color:getColor()}">
    Server status is {{serverStatus}}
</h4>
<div class="panel panel-info">
    <div class="panel-heading">
       {{title}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 texttitle">
                Filter By:
            </div>
            <div class="col-md-4">
                <input type="text" placeholder="enter your text"
                [(ngModel)]="userSearch"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>{{userSearch}}</h3>
            </div>

        </div>

        <div class="table-responnsive">
            <table class="table" *ngIf="products && products.length; else noData">
                <thead>
                    <tr style="color:teal">
                      
                        <th>
                            <button class="btn btn-danger"
                            (click)="toggleImage()">
                                Show Image
                            </button>
                        </th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prod of products | productSearch:userSearch">
                        <td>
                            <img [src]="prod.imageUrl" *ngIf="showTable"
                            [style.width.px]="imagewidth"
                            />
                        </td>
                        <td>
                            <a [routerLink]="['/products',prod.productId]"
                                
                            >
                                {{prod.productName | myupper:'upper'}}
                            </a>
                        </td>
                        <td>{{prod.productCode | myupper:'lower'}}</td>
                        <td>{{prod.releaseDate | date}}</td>
                        <td [ngStyle]="{'background-color':prod.price<20?'tomato':'skyblue'}">
                            {{prod.price| discount:5   | currency:'GBP' }}
                        </td>
                        <td><app-star [rating]="prod.starRating"
                            (ratingClicked)="dataRecive($event)"></app-star></td>

                    </tr>
                </tbody>

            </table>
            <ng-template  #noData>
                <img src="../../assets/loading.gif
                "/>
            </ng-template>
        </div>

    </div>
</div>


<!--
    [queryParams]="{name:prod.productName,img:prod.imageUrl,
                                details:prod.description}"
-->